/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/05/2015, 13:29:21
    Author     : Robson Gomes
*/

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 3px;
  border-top: 0;
  background: #ccc;
  border-radius: 5px;  
  margin-top: 20px;
  margin-bottom: 20px;
}
h1,h2,h3,h4,h5 {
    color: #787676;
}