/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/05/2015, 13:49:27
    Author     : Robson Gomes
*/

body {
    background-color: #f2f2f2 !important;
    color: #4e4e4e !important;
    font-family: inherit;
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;    
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #f9f9f9;
}

.alert-success {
    z-index: 99;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: 5px solid green;
    font-size: 15px;
    border-radius: 0;
}

.alert-danger {
    z-index: 99;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: 5px solid red;
    font-size: 15px;
    border-radius: 0;
}

.alert-warning {
    z-index: 99;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: 5px solid yellow;
    font-size: 15px;
    border-radius: 0;
}

.titulo {
    //border-bottom: 2px solid rgb(221, 221, 221);
    margin-bottom: 15px;
}

.titulo h1 {
    font-size: 2em !important;
    margin-top: 0;
    margin-bottom: 10px;
}

.titulo h2 {
    font-size: 1.5em !important;
    margin-top: 0;
    margin-bottom: 10px;
}

h1.titulosecao {
    font-size: 2em !important;
    margin-top: 0;
    margin-bottom: 10px;
}

h2.titulosecao {
    font-size: 1.5em !important;
    margin-top: 0;
    margin-bottom: 10px;
}

.container h3 {
    font-size: 22px;
}

.container h4 {
    font-size: 18px;
}

.card-project {    
    background: #fff;    
    box-shadow: 1px 1px 1px 1px #dfdfdf;      
    /*definimos a largura do box*/    
    /* definimos a altura do box */
    height:100px;        
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 0;
    //border-left: 5px solid #3c763d;
    padding: 10px;
    
    border-left: 5px solid #3c763d;
    margin: 18px 0;  
    transition: all 0.2s linear;
}

.card-project p {
    display: block;
    margin-top: 16px;
    font-family: tahoma;
    font-size: 20px;
    color: #4e4e4e;
}


.table-dados {    
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 #3c763d;  
}

/* Nav bar principal do sistema */
#navbarPrincipal {    
    background: #424F5A;               
}
#navbarPrincipal a {
    color: #fff;
}
#navbarPrincipal ul li {
    background: #424F5A;    
}


